.idea/
*.iml
*.iws
*.ipr
out/
target/
*.class
*.log
*.zip
*.tar.gz
*.rar
.DS_Store
Thumbs.db
HELP.md
.mvn/wrapper/maven-wrapper.jar
hs_err_pid*
replay_pid*
*.env
application-local.properties
*.ctxt
.mtj.tmp/
